footer.footer 
 .container 
  .footer__flex 
   .footer__users 
    .footer__pages 
     h3.footer__pages__title Pages
     ul.footer__pages__lists
      each link in ['Home','Product','Pricing','About','Contact']
       li.footer__pages__list
        a(href="#!").footer__pages__link= link 
    .footer__tomothy 
     h3.footer__pages__title Tomothy 
     ul.footer__pages__lists
      each link in ['Eleanor Edwards','Ted Robertson','Annette Russell', 'Jennie Mckinney','Gloria Richards']
       li.footer__pages__list
        a(href="#!").footer__pages__link= link 
    .footer__jane 
     h3.footer__pages__title Jane Black
     ul.footer__pages__lists
      each link in ['Philip Jones','Colleen Russell','Marvin Hawkins', 'Bruce Simmmons','Gloria Richards']
       li.footer__pages__list
        a(href="#!").footer__pages__link= link 
   .footer__links
    .footer__location
     i.fal.footer__location__icon 
     p.footer__location__text 7480 Mockingbird Hill undefined 
    .footer__phone
     i.fal.footer__phone__icon 
     p.footer__phone__text (239) 555-0108
    .footer__apps
     i.fab.footer__fb 
     i.fab.footer__tw 
     i.fab.footer__in 
     
    