section.contact 
 .container 
  h2.title Contact Us
  p.text Most calendars are designed for teams. Slate is designed for freelancers
  .contact__grids
   .contact__left
    h5.contact__title Contact Us
    input(type="text" placeholder="your name").contact__name 
    input(type="email", name="" placeholder="example@gmail.com").contact__email
    textarea(name="", cols="30", rows="10" placeholder="your comment").contact__textarea
    button.contact__button 
     a(href="#!").contact__link send
   .contact__right 
    .contact__right__info 
     .contact__right__adress 
      i.fal.contact__right__adress_icon
      p.contact__right__adress_text 6386 Spring St undefined Anchorage, Georgia 12473 United States
     .contact__right__phone 
      i.fal.contact__right__phone_icon
      p.contact__right__phone_text (843) 555-0130
     .contact__right__mail
      i.far.contact__right__mail_icon
      p.contact__right__mail_text willie.jennings@example.com
    .contact__right__location 
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3637.2888573487476!2d-75.16137686551701!3d39.95071271262552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c6294d915121%3A0x9d4cb469769cddea!2sMaggiano&#39;s%20Little%20Italy!5e0!3m2!1suz!2s!4v1618923609244!5m2!1suz!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    .contact__right__apps
     i.fab.contact__right__apps_fb 
     i.fab.contact__right__apps_tw 
     i.fab.contact__right__apps_in 