section.organize 
 .container 
  .organize__top 
   .organize__top__info 
    h3.organize__top__title Fastest way to organize
    p.organize__top__text Most calendars are designed for teams. Slate is designed for freelancers
    button.button 
     a(href="#!").button__link Try For Free
   .organize__left
    img(src="images/organize-top_img.webp", alt="please waiting").organize__left__img
  .organize__bm 
   .organize__right
    img(src="images/organize-bm_img.webp", alt="please waiting").organize__right__img
   .organize__bm__info 
    h2.organize__fingertips At your fingertips
    p.organize__bm__title Lightning fast prototyping 
    h2.organize__news Subscribe to our Newsletter
    p.organize__news__text Available exclusivery on Figmaland
    .organize__bm__contact
     lebel.organize__lebel 
      input(type="email" placeholder="example@gmail.com").organize__email
     button.organize__bm__button 
      a(href="#!").organize__bm__link Subscribe

   
  