section.partner 
 .container 
  h2.title Partners
  p.text Most calendars are designed for teams. Slate is designed for freelancers
  .partner__grid-top
   .partner__grid 
    h5.partner__grid__title Client Name
    img(src="images/google.webp", alt="please waiting")
   .partner__grid 
    h5.partner__grid__title Client Name
    img(src="images/amazon.webp", alt="please waiting")
   .partner__grid 
    h5.partner__grid__title Client Name
    img(src="images/microsoft.webp", alt="please waiting")
   .partner__grid 
    h5.partner__grid__title Client Name
    img(src="images/uber.webp", alt="please waiting")
  .partner__grid-bm 
   .partner__grid
    h5.partner__grid__title Client Name
    img(src="images/dropbox.webp", alt="please waiting")
   .partner__grid 
    h5.partner__grid__title Client Name
    img(src="images/google.webp", alt="please waiting")
   .partner__grid 
    h5.partner__grid__title Client Name
    img(src="images/uber.webp", alt="please waiting")
   .partner__grid 
    h5.partner__grid__title Client Name
    img(src="images/amazon.webp", alt="please waiting")
  button.button.partner__btn 
   a(href="#!").button__link Try For Free 