section.testimon 
 .container 
  .testimon__flex 
   h2.testimon__title Testimonials
   img(src="images/testimon_img.webp", alt="please waiting").testimon__img
   p.testimon__text Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
   .testimon__client 
    img(src="images/testimon_client.webp", alt="please waiting").testimon__client__img
    .testimon__client__about 
     p.testimon__client__career Organize across
     p.testimon__client__job Ui designer
   button.button 
    a(href="#!").button__link More Testimonials
  