html(lang="en")
 include views/layout/head.pug
 body 
   include views/layout/header.pug
   include views/components/feature.pug
   include views/components/organize.pug
   include views/components/partner.pug
   include views/components/testimontal.pug
   include views/components/pricing.pug
   include views/components/contact.pug
   include views/layout/footer.pug

   
   script(src="scripts/common.min.js") 
